<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Arta's Projects</title>
</head>

<body>
    <%- include('partials/header') %>

    <main id="projects">
        <h2>My Projects</h2>
        <div class="project-list">
            <div class="project-item">
                <h3><a href="/projects/twas-z">TWAS-Z</a></h3>
                <!-- <p>A brief description of TWAS-Z.</p> -->
            </div>
            <!-- <div class="project-item">
                <h3><a href="/projects/project2">Project Two</a></h3>
                <p>A brief description of Project Two.</p>
            </div>
            <div class="project-item">
                <h3><a href="/projects/project3">Project Three</a></h3>
                <p>A brief description of Project Three.</p>
            </div> -->
        </div>
    </main>

</body>

</html>