/* public/css/styles.css */
@font-face {
    font-family: 'SF Mono Nerd Font';
    src: url('/SF-Mono-Nerd-Font/SFMono_Regular_Nerd_Font_Complete.woff2') format('woff2');
    font-display: swap;
}

:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --link-color: #0000EE;
    --visited-link-color: #551A8B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333;
        --text-color: #f0f0f0;
        --link-color: #8ACE00;
        --visited-link-color: #00FFFF;
    }
}

body {
    font-family: 'SF Mono Nerd Font', monospace;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
    --bg-color: #333;
    --text-color: #f0f0f0;
    --link-color: #8ACE00;
    --visited-link-color: #00FFFF;
}

#toggle-theme {
    cursor: pointer;
    background: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 5px 10px;
    font-family: inherit;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#toggle-theme:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#three-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#three-container canvas {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2 {
    display: block;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 5px;
}
a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--visited-link-color);
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 10px 0;
    text-align: right;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li::before {
    content: "• ";
    color: var(--link-color);
}

/* New Style for the References Section */
.references-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.references-list li::before {
    content: none;  /* Remove the custom bullet point */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.skills-accordion {
    /* border: 1px solid var(--text-color); */
    margin-bottom: 10px;
}

.accordion {
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    /* font-weight: bold; */
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'SF Mono Nerd Font', monospace;
    padding-bottom: 5px;
}

.accordion:before {
    content: "+ ";
    padding-bottom: 5px;
}

.accordion.active:before {
    content: "- ";
    padding-bottom: 5px;
}

/* .accordion:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: all;
} */

.panel {
    padding: 0 10px;
    background-color: var(--bg-color);
    display: none;
    /* overflow: hidden; */
}

.panel ul {
    list-style-type: none;
    padding-left: 20px;
}

.panel li:before {
    content: "* ";
}
/* styles.css */

/* Down Arrow Button Styles */
.down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.down-arrow:hover {
    background: rgba(255, 255, 255, 1);
}

/* Hide the button on larger screens */
.down-arrow {
    display: none;
}

/* Show the button on screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .down-arrow {
        display: flex;
    }
}

html {
    scroll-behavior: smooth;
}